In [6]:
import pandas as pd
import sqlalchemy as db
import matplotlib.pyplot as plt
import seaborn as sns
import math



DATABASE_URL = "sqlite:///../db/database.db"
engine = db.create_engine(DATABASE_URL)

def load_data(engine):
    query = "SELECT * FROM houses"
    return pd.read_sql(query, con=engine)

In [7]:
grupo = ["city", "area", "rooms", "bathroom", "parking_spaces", "floor", "animal", "furniture"]

In [8]:
df = load_data(engine)
df.head()

,id,city,area,rooms,bathroom,parking_spaces,floor,animal,furniture,hoa,rent_amount,property_tax,fire_insurance
0,1,São Paulo,70,2,1,1,7,1,1,2065,3300,211,42
1,2,São Paulo,320,4,4,0,20,1,0,1200,4960,1750,63
2,3,Porto Alegre,80,1,1,1,6,1,0,1000,2800,0,41
3,4,Porto Alegre,51,2,1,0,2,1,0,270,1112,22,17
4,5,São Paulo,25,1,1,0,1,0,0,0,800,25,11

In [ ]:
def plot_categoria_valor(df, categoria, valor, plot_type='bar'):
    
    plt.figure(figsize=(8,5))
    
    if plot_type == 'bar':
        sns.barplot(x='categoria', y='valor', data=df, ci=None)
    elif plot_type == 'box':
        sns.boxplot(x='categoria', y='valor', data=df)
    elif plot_type == 'scatter':
        sns.stripplot(x='categoria', y='valor', data=df, jitter=True)
    elif plot_type == 'violin':
        sns.violinplot(x='categoria', y='valor', data=df)
    else:
        raise ValueError("plot_type deve ser 'bar', 'box', 'scatter' ou 'violin'")
    
    plt.title(f'{plot_type.capitalize()} de valor por categoria')
    plt.show()